{% case media.media_type %}
    {% when 'image' %}
        <img src="{{ media | img_url: 'large' }}" alt="{{ media.preview_image.alt }}" class="w-full h-full object-cover">
    
    {% when 'external_video' %}
        {{ media | external_video_tag: class: 'w-full h-80 object-cover' }}

    {% when 'video' %}
        {{ media | video_tag: controls: true, class: 'w-full h-full object-cover' }}

    {% when 'model' %}
        <product-model data-media-id="{{ media.id }}">
            <div>
                <button id="productModelOpenButton_{{ media.id }}" x-on:click="productModalOpen = true" class="w-full h-full bg-gray-100 border relative">
                    <span class="border bg-gray-100 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                        {% render 'icon-model-viewer' %}
                    </span>
                    <img 
                        src="{{ media | img_url: 'large' }}" 
                        alt="{{ media.preview_image.alt }}"
                        class="w-full h-full object-cover"
                    >
                </button>
            </div>

            <template>
                {{ media | model_viewer_tag: reveal: 'interaction' }}
            </template>
        </product-model>

    {% else %}
        {{ media | media_tag }}
        
{% endcase %}