<div class="relative bg-white">
    <div class="mx-auto px-4 sm:px-6">
        <div class="flex justify-center items-center py-6 md:justify-start md:space-x-10">
            <!-- STORE NAME / STORE LOGO -->
            <div class="flex justify-start lg:flex-1 truncate">
                <h1 class="text-xl font-bold truncate">{{ shop.name }}</h1>
            </div>
            <!-- NAVIGATION MENU -->
            <div class="hidden md:flex space-x-10">
                {% for link in section.settings.menu.links %}
                    {% if link.links != blank %}
                        <div class="relative">
                            <button type="button" class="inline-flex items-center">
                                {{ link.title }}
                                {% render 'icon-dropdown' %}
                            </button>
                        </div>
                    {% else %}
                        <a href="{{ link.url }}" class="text-base text-gray-500 hover:text-gray-900">{{ link.title }}</a>
                    {% endif %}
                    
                {% endfor %}
            </div>
            <!-- CART BUTTON / ACCOUNT LINKS IF ENABLED -->
            <div class="hidden md:flex items-center justify-end md:flex-1 space-x-5">
                <a href="/cart" class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900">
                    {% render 'icon-shopping-bag' %}
                </a>

                {% if shop.customer_accounts_enabled %}
                    {% if customer %}
                        <a href="/account" class="text-base text-gray-500 hover:text-gray-900">account</a>
                        {{ 'Log out'  | customer_logout_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"' }}
                    {% else %}
                        {{ 'Log in ' | customer_login_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"' }}
                        {{ 'Register' | customer_register_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"' }}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "text",
            "id": "mobile_menu_title",
            "default": "Menu",
            "label": "Mobile Menu Title"
        },
        {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "Heading Navigation Menu"
        }
    ]
}
{% endschema %}