<div class="max-w-6xl mx-auto px-4 py-12" x-data="{ new_address: false }" x-cloak>
    <div class="flex flex-col md:flex-row items-center justify-between my-5 gap-4">
        <h1 class="text-2xl font-bold text-gray-700">Addresses</h1>
        <button x-on:click="new_address = true" type="button" class="text-white font-medium bg-gray-700 hover:bg-gray-900 px-6 py-2">Create new address</button>
        <a href="{{ routes.account_url }}" class="text-blue-600 hover:text-blue-800 font-medium underline">Back to account</a>
    </div>

    <div x-show="new_address" class="h-full w-full fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto z-50">
        <div class="relative max-w-md mx-auto bg-white border top-20 p-4">
            <div class="flex items-center justify-between mb-4">
                <h2 class="text-lg font-medium">New address</h2>
                <button x-on:click="new_address = false" class="text-gray-500">{% render 'icon-close' %}</button>
            </div>

            {% form 'customer_address', customer.new_address %}
                <div class="mb-4">
                    <label for="address_fname_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">First name</label>
                    <input 
                        type="text" 
                        name="address[first_name]" 
                        id="address_fname_{{ form.id }}"
                        value="{{ form.first_name }}"
                        class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
                    >
                </div>

                <div class="mb-4">
                    <label for="address_lname_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">Last name</label>
                    <input 
                        type="text" 
                        name="address[last_name]" 
                        id="address_lname_{{ form.id }}"
                        value="{{ form.last_name }}"
                        class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
                    >
                </div>

                <div class="mb-4">
                    <label for="address_company_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">Company</label>
                    <input 
                        type="text" 
                        name="address[company]" 
                        id="address_company_{{ form.id }}"
                        value="{{ form.company }}"
                        class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
                    >
                </div>

                <div class="mb-4">
                    <label for="address_address1_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">Address 1</label>
                    <input 
                        type="text" 
                        name="address[address1]" 
                        id="address_address1_{{ form.id }}"
                        value="{{ form.address1 }}"
                        class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
                    >
                </div>

                <div class="mb-4">
                    <label for="address_address2_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">Address 2</label>
                    <input 
                        type="text" 
                        name="address[address2]" 
                        id="address_address2_{{ form.id }}"
                        value="{{ form.address2 }}"
                        class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
                    >
                </div>

                <div class="mb-4">
                    <label for="address_city_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">City</label>
                    <input 
                        type="text" 
                        name="address[city]" 
                        id="address_city_{{ form.id }}"
                        value="{{ form.city }}"
                        class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
                    >
                </div>

                <div class="mb-4">
                    <label for="address_country_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">Country</label>
                    <select 
                        name="address[country]" 
                        id="address_country_{{ form.id }}"
                        value="{{ form.country }}"
                        class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
                        data-country-selector
                        data-id="{{ form.id }}"
                    >
                        {{ all_country_option_tags }}
                    </select>
                </div>

                <div class="mb-4">
                    <label for="address_province_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">Province</label>
                    <select 
                        name="address[province]" 
                        id="address_province_{{ form.id }}"
                        value="{{ form.province }}"
                        class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
                    >
                    </select>
                </div>

                <div class="mb-4">
                    <label for="address_zip_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">Postal/ZIP code</label>
                    <input 
                        type="text" 
                        name="address[zip]" 
                        id="address_zip_{{ form.id }}"
                        value="{{ form.zip }}"
                        class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
                    >
                </div>

                <div class="mb-4">
                    <label for="address_phone_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">Phone number</label>
                    <input 
                        type="tel" 
                        name="address[phone]" 
                        id="address_phone_{{ form.id }}"
                        value="{{ form.phone }}"
                        class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
                    >
                </div>

                <div class="mb-4">
                    {{ form.set_as_default_checkbox }}
                    <label for="address_default_address_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">Set as default address</label>
                </div>

                <div class="flex flex-row gap-2">
                    <button type="submit" class="w-full font-medium text-white bg-gray-700 hover:bg-gray-900 px-4 py-2">Create address</button>
                    <button type="reset" class="w-full font-medium text-gray-700 border border-gray-700 px-4 py-2">Cancel</button>
                </div>
            {% endform %}
        </div>
    </div>
    <div>
        {% paginate customer.addresses by 10 %}
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-12 p-4 md:p-12">
                {% for address in customer.addresses %}
                    <div x-data="{ address_{{ address.id }}: false }">
                        <div class="relative flex flex-col text-center border p-2">
                            {% if address == customer.default_address %}
                                <span class="text-xs font-medium text-white bg-green-700 px-4 py-2">Default</span>
                            {% endif %}

                            <div class="my-8 h-full">
                                {{ address | format_address }}
                            </div>

                            <div class="flex flex-row gap-2">
                                <button x-on:click="address_{{ address.id }} = true" class="w-full text-xs text-white bg-gray-700 hover:bg-gray-900 font-medium py-2">Edit</button>
                                <button 
                                    class="w-full text-xs font-medium text-gray-700 border py-2"
                                    data-url="{{ address.url }}"
                                    data-delete-address
                                >Delete</button>
                            </div>

                            <form method="post" action="{{ address.url }}">
                                <input type="hidden" name="_method" value="delete">
                            </form>
                        </div>

                        <div x-show="address_{{ address.id }}" class="h-full w-full fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto z-50">
                            <div class="relative max-w-md mx-auto bg-white border top-20 bottom-20 p-4">
                                <div class="flex items-center justify-between mb-4">
                                    <h2 class="text-lg font-medium">Edit address</h2>
                                    <button x-on:click="address_{{ address.id }} = false" class="text-gray-500">{% render 'icon-close' %}</button>
                                </div>

                                {% form 'customer_address', address %}
                                    <div class="mb-4">
                                        <label for="address_fname_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">First name</label>
                                        <input 
                                            type="text" 
                                            name="address[first_name]" 
                                            id="address_fname_{{ form.id }}"
                                            value="{{ form.first_name }}"
                                            class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
                                        >
                                    </div>
                    
                                    <div class="mb-4">
                                        <label for="address_lname_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">Last name</label>
                                        <input 
                                            type="text" 
                                            name="address[last_name]" 
                                            id="address_lname_{{ form.id }}"
                                            value="{{ form.last_name }}"
                                            class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
                                        >
                                    </div>
                    
                                    <div class="mb-4">
                                        <label for="address_company_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">Company</label>
                                        <input 
                                            type="text" 
                                            name="address[company]" 
                                            id="address_company_{{ form.id }}"
                                            value="{{ form.company }}"
                                            class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
                                        >
                                    </div>
                    
                                    <div class="mb-4">
                                        <label for="address_address1_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">Address 1</label>
                                        <input 
                                            type="text" 
                                            name="address[address1]" 
                                            id="address_address1_{{ form.id }}"
                                            value="{{ form.address1 }}"
                                            class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
                                        >
                                    </div>
                    
                                    <div class="mb-4">
                                        <label for="address_address2_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">Address 2</label>
                                        <input 
                                            type="text" 
                                            name="address[address2]" 
                                            id="address_address2_{{ form.id }}"
                                            value="{{ form.address2 }}"
                                            class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
                                        >
                                    </div>
                    
                                    <div class="mb-4">
                                        <label for="address_city_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">City</label>
                                        <input 
                                            type="text" 
                                            name="address[city]" 
                                            id="address_city_{{ form.id }}"
                                            value="{{ form.city }}"
                                            class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
                                        >
                                    </div>
                    
                                    <div class="mb-4">
                                        <label for="address_country_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">Country</label>
                                        <select 
                                            name="address[country]" 
                                            id="address_country_{{ form.id }}"
                                            value="{{ form.country }}"
                                            class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
                                            data-country-selector
                                            data-id="{{ form.id }}"
                                        >
                                            {{ all_country_option_tags }}
                                        </select>
                                    </div>
                    
                                    <div class="mb-4">
                                        <label for="address_province_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">Province</label>
                                        <select 
                                            name="address[province]" 
                                            id="address_province_{{ form.id }}"
                                            value="{{ form.province }}"
                                            class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
                                        >
                                        </select>
                                    </div>
                    
                                    <div class="mb-4">
                                        <label for="address_zip_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">Postal/ZIP code</label>
                                        <input 
                                            type="text" 
                                            name="address[zip]" 
                                            id="address_zip_{{ form.id }}"
                                            value="{{ form.zip }}"
                                            class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
                                        >
                                    </div>
                    
                                    <div class="mb-4">
                                        <label for="address_phone_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">Phone number</label>
                                        <input 
                                            type="tel" 
                                            name="address[phone]" 
                                            id="address_phone_{{ form.id }}"
                                            value="{{ form.phone }}"
                                            class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
                                        >
                                    </div>

                                    <div class="mb-4">
                                        {{ form.set_as_default_checkbox }}
                                        <label for="address_default_address_{{ form.id }}" class="uppercase text-gray-700 text-xs font-medium mb-2">Set as default address</label>
                                    </div>
                    
                                    <div class="flex flex-row gap-2">
                                        <button type="submit" class="w-full font-medium text-white bg-gray-700 hover:bg-gray-900 px-4 py-2">Edit address</button>
                                        <button type="reset" class="w-full font-medium text-gray-700 border border-gray-700 px-4 py-2">Cancel</button>
                                    </div>
                                {% endform %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
        {% endpaginate %}
    </div>
</div>

<script>
    class CustomerAddress {
        constructor() {
            this.initCustomerAddress();
            this.customerAddressesSelector();
            this.initDeleteAddressButtons();
        }

        initDeleteAddressButtons() {
            const deleteButtons = document.querySelectorAll("button[data-delete-address]");
            if(deleteButtons.length < 1) return;

            deleteButtons.forEach(button => {
                button.addEventListener("click", function(e) {
                    var url = this.dataset.url;

                    var confirmation = window.confirm("Do you really wish to delete this address?");

                    if(confirmation) {
                        document.querySelector(`form[action="${url}"]`).submit();
                    }
                })
            })
        }

        initCustomerAddress() {
            const allAddressesSelector = document.querySelectorAll("select[data-country-selector]");
            if(allAddressesSelector.length < 1) return;

            //console.log(allAddressesSelector);

            allAddressesSelector.forEach(select => {
                var selectedCountry = this.getSelectedCountry(select);

                if(!selectedCountry) return;

                var provinces = selectedCountry.dataset.provinces;
                var arrayOfProvince = JSON.parse(provinces);

                var provinceSelector = document.querySelector(`#address_province_${select.dataset.id}`);

                if(arrayOfProvince.length < 1) {
                    provinceSelector.setAttribute('disabled', 'disabled');
                } else {
                    provinceSelector.removeAttribute('disabled');
                }

                provinceSelector.innerHTML = '';
                var options = '';
                for(var index = 0; index < arrayOfProvince.length; index++) {
                    if(arrayOfProvince[index][0] === provinceSelector.getAttribute('value')) {
                        options += `<option value="${arrayOfProvince[index][0]}" selected>${arrayOfProvince[index][0]}</option>`;
                    } else {
                        options += `<option value="${arrayOfProvince[index][0]}">${arrayOfProvince[index][0]}</option>`;
                    }
                }

                provinceSelector.innerHTML = options;
            })
        }

        getSelectedCountry(select) {
            var option, selectedOption;
            for(var index = 0; index < select.options.length; index++) {
                option = select.options[index];

                if(option.value === select.getAttribute('value')) {
                    selectedOption = option;
                    selectedOption.setAttribute('selected', 'selected');
                    break;
                }
            }

            return selectedOption;
        }
    
        customerAddressesSelector() {
            const addressesSelector = document.querySelectorAll("select[data-country-selector]");
            if(addressesSelector.length < 1) return;

            addressesSelector.forEach(select => {
                select.addEventListener('change', function(e) {
                    var provinces = this.options[this.selectedIndex].dataset.provinces;
                    var arrayOfProvince = JSON.parse(provinces);

                    var provinceSelector = document.querySelector(`#address_province_${this.dataset.id}`);

                    if(arrayOfProvince.length < 1) {
                        provinceSelector.setAttribute('disabled', 'disabled');
                    } else {
                        provinceSelector.removeAttribute('disabled');
                    }

                    provinceSelector.innerHTML = '';
                    var options = '';
                    for(var index = 0; index < arrayOfProvince.length; index++ ) {
                        options += `<option value="${arrayOfProvince[index][0]}">${arrayOfProvince[index][0]}</option>`;
                    }

                    provinceSelector.innerHTML = options;
                });
            });
        }
    }

    const customerAddress = new CustomerAddress();
</script>